<div class="container mt-5 col-6">
  <h1 class="mb-4">Create your list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: 'List Name', placeholder: 'Listinha' %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
  <%= link_to lists_path do %>
    <p> <i class="fa-solid fa-rotate-left mt-5"></i>Back do lists</p>
  <% end %>
</div>
